---
---
@import "{{ site.theme }}";

.page-header {
	background-image: linear-gradient(120deg, #5C7BDC, #FF503E);
}

.page-header .btn,
.page-header h2,
.site-footer-owner,
.site-footer-credits
 { display: none; }


.main-content {
	font-size: 1.2em;
}

.site-footer {
	background: url('../TMI-logo.png') no-repeat center bottom; 
	height: 100px;
}

a { text-decoration: underline; font-weight: bold; }